# Copy this file as ".env" in the root folder near the .env-sample file
# Then fill all variables

# database configuration
# Do not forget to set your symfony .env.local to match this configuration
DB_ROOT_PASSWORD="configure_moi"
DB_NAME="fyn"
DB_USER_NAME="configure_moi"
DB_USER_PASSWORD="configure_moi"

# local services ports configuration
# HTTP_PORT= "80"
# DB_PORT= "3306"
PHP_PORT= "9000"
POSTGRES_PORT= "5433"

# Git configuration
GIT_USEREMAIL= "configure_moi"
GIT_USERNAME= "configure_moi"
